.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.lineup {
  display:flex;
  flex-direction: column;
}

.reset {
  padding: 15px;
  width: 50%;
  align-self: center;
  margin: 50px;
}

.lineup-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-collapse: collapse;
}

.lineup-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.lineup-table th {
  background-color: #f2f2f2;
}

.lineup-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #282c34;
}

.chosen {
  font-size: x-large;
}

.logo{
  width: 400px;
}

.modal {
  background-color: #f2f2f2;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 50px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  color: #282c34;
  font-size: 30px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.form {
  margin: 10px;
}